@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url(../fonts/CaviarDreams.ttf)
    format(truetype);
}
@font-face {
    font-family: 'subtitulo';
    src: url(../fonts/Fragmentcore.otf)
    format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1:  #010626;
    --cor2:  #022859;
    --cor3:  #034C8C;
    --cor4:  #2481A6;
    --cor5:  #F2CA50;

    --font-padrao:  Arial, Helvetica, sans-serif;
    --font-titulo:  'titulo', cursive;
    --font-subtitulo: 'subtitulo', cursive ;
    --font-links:  'Bebas',  Arial, Helvetica, sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
}

header {
    background-color: var(--cor4);
    text-align: center;
}

header > h1 {
    color: var(--cor5);
    font-family: var(--font-titulo);
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor4);
    text-align: justify;
    padding: 20px;
}

nav > abbr {
    text-decoration: none;
}

nav > abbr > a {
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--font-links);
    font-size: 25px;

}

nav > abbr > a:hover {
    background-color: var(--cor3);
    border-radius: 7px;
    color: white;
    box-shadow: 2px 2px 3px black;
    text-decoration: underline;
    transition-duration: 0.5s;
}

nav > abbr > a:active {
    color: var(--cor1);
    transition-duration: 0.1s;
}

main {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    text-align: justify;
}

main > h1 {
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px 0px 5px 0px;
    background-image: linear-gradient(to right, #020e58, #2481a694);
    font-family: var(--font-titulo);
}

main > h2 {
    text-align: center;
    margin: 30px;
    font-size: 40px;
    font-family: var(--font-subtitulo);
}

main > p {
    font-size: 2.2vh;
    margin: 15px;
}

footer {
    background-color: var(--cor4);
    padding: 40px;
}

footer > p {
    color: white;
}

footer > p > abbr {
    text-decoration: none;
}

footer > p > abbr > a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

